.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.left-section {
  flex: 2; /* Takes up more space */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds spacing between ProblemText and Editor */
}

.right-section {
  flex: 1; /* Takes up less space */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Console {
  width: 100%; /* Make the parent container span the full width */
  display: flex;
  justify-content: center; /* Center the SquareText horizontally */
  align-items: center; /* Optional: Center the content vertically */
  margin-top: 20px; /* Add spacing from the previous section */
}